<div class="admin-list">
    <app-page-title [pageTitle]="'Admins'">
        <div class="page-right">
            <div class="add-admin" (click)="onAddAdmin()">
                <span class="add-admin-icon"></span>
                <span class="add-admin-text">Add admin</span>
            </div>
            <app-search></app-search>
        </div>
    </app-page-title>
    <div class="admin-list-container container">
        <div class="admin-list-table ">
            <div class="table">
                <div class="table-header">
                    <div class="table-cell table-icon"></div>
                    <div class="table-cell table-name">Name admins</div>
                    <div class="table-cell table-email">Email</div>
                    <div class="table-cell table-date">Date of joining</div>
                    <div class="table-cell table-status">Status</div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-cell table-status">
                        <span class="active"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-cell table-status">
                        <span class="blocked"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-status table-cell">
                        <span class="blocked"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-cell table-status">
                        <span class="active"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-cell table-status">
                        <span class="blocked"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-status table-cell">
                        <span class="blocked"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-cell table-status">
                        <span class="active"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-cell table-status">
                        <span class="blocked"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-status table-cell">
                        <span class="blocked"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-cell table-status">
                        <span class="active"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-cell table-status">
                        <span class="blocked"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-status table-cell">
                        <span class="blocked"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-cell table-status">
                        <span class="active"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-cell table-status">
                        <span class="blocked"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-status table-cell">
                        <span class="blocked"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-cell table-status">
                        <span class="active"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-cell table-status">
                        <span class="blocked"></span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell table-icon">
                        <span class="avatar"></span>
                    </div>
                    <div class="table-cell table-name">
                        <span>John Doe</span>
                    </div>
                    <div class="table-cell table-email">
                        <span>john@gmail.com</span>
                    </div>
                    <div class="table-cell table-date">
                        <span>12.04.2017</span>
                    </div>
                    <div class="table-status table-cell">
                        <span class="blocked"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-admin-add-popup [(visability)]="isAddVisible" (submit)="handlerSubmit($event)"></app-admin-add-popup>
